<div class="header-container">
    <div class="menu-icon" *ngIf="sidebar" (click)="closeSidebar()">
        <span class="material-icons">
            menu_open
        </span>
    </div>
    <div class="menu-icon" *ngIf="!sidebar" (click)="openSidebar()">
        <span class="material-icons">
            menu
        </span>
    </div>
    <div class="header-logo-container">
        <img src="{{appname?basePathAssets + 'logotipos_aplicativos_svg/' + appname + '.svg':''}}"
        alt="{{'logotipo aplicación ' + appname}}" class="logotipo"/>
    </div>
    <div class="header-buttons-container">
        <div class="header-button-apps-container" *ngIf="menuApps" (click)="toogleAplicaciones()">
            <span class="material-icons"> apps </span>
        </div>
        <div class="header-button-notification"  *ngIf="notificaciones" (click)="togglenotify()">
            <span class="material-icons">notifications</span>
        </div>
        <div class="header-button-user-container" (click)="toogleCerrarSesion()">
            <span class="material-icons">
                account_circle
            </span>
            <p class="user-info">{{username}}</p>
            <div id="header-button-cerrarsesion-container" (click)='logout()'>
                <p>Cerrar sesión</p>
            </div>
        </div>
    </div>
</div>
<ng-uui-notioas></ng-uui-notioas>
<ng-uui-menu-aplicaciones></ng-uui-menu-aplicaciones>
<!-- <ng-uui-load [hidden]="!load"></ng-uui-load> -->