<div class="header-container">
    <div class="header-logo-container">
        <img [@iconAnimation]="!sidebar?'visible':'hidden'" (click)="openSidebar()"
         src="{{basePathAssets + 'isotipos_aplicativos_svg/' + appname + '.svg'}}" 
         alt="{{'isotipo aplicación ' + appname}}" class="logotipo"/>
        <img [@logoAnimation]="sidebar?'visible':'hidden'"  (click)="closeSidebar()" 
        src="{{basePathAssets + 'logotipos_aplicativos_svg/' + appname + '.svg'}}"
        alt="{{'logotipo aplicación ' + appname}}" class="logotipo"/>
    </div>
    <div class="header-buttons-container">
        <div class="header-button-apps-container" (click)="toogleAplicaciones()">
            <span class="material-icons"> apps </span>
        </div>
        <div class="header-button-notification" (click)="togglenotify()">
            <span class="material-icons">notifications</span>
        </div>
        <div class="header-button-user-container" (click)="toogleCerrarSesion()">
            <span class="material-icons">
                account_circle
            </span>
            <p class="user-info">{{username}}</p>
            <div id="header-button-cerrarsesion-container" (click)='logout()'>
                <p>cerrar sesion</p>
            </div>
        </div>
    </div>
</div>
<ng-uui-notioas></ng-uui-notioas>
<ng-uui-menu-aplicaciones></ng-uui-menu-aplicaciones>
<!-- <ng-uui-load [hidden]="!load"></ng-uui-load> -->