@import url("https://pruebasassets.portaloas.udistrital.edu.co/font-style.css");
.menu-icon {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    span { 
        background-color: var(--color900);
        padding: 10px;
        border-radius: 30px;
        cursor: pointer;
        width: 25px;
        height: 25px;
        color: #fff;
    }
}
p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
}
.header-logo {
    display: none;
    border: none;
    box-shadow: none;
    background: url(https://pruebasassets.portaloas.udistrital.edu.co/isotipos-75x75.png);
    margin: 10px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.menu-app-info {
    border: none;
}

i {
    color: var(--primary);
}

.header-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    z-index: 1;
    background-color: white;
    padding-left: 10px;
    box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
    position: fixed;
    top: 0;
    max-height: 92px;
    left: 0;
}

.header-logo-container {
    padding: 0 0 5px 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    
}

.header-buttons-container {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 20px;
}

.header-button-notification,
.header-button-apps-container,
.header-button-user-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 15px;
    color: var(--primary);
}

.header-button-user-container > p {
    color: var(--primary);
}

.header-button-cerrarsesion-container > p {
    color: var(--primary);
}

#header-button-cerrarsesion-container {
    position: absolute;
    top: 92px;
    right: 16px;
    z-index: 10;
    display: none;
    border-radius: 18px;
    padding-top: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 5px -2px rgb(0 0 0 / 84%);
    width: 118px;
    height: 23px;
    text-align: center;
}

#header-user-icon {
    font-size: 25px;
    width: 36px;
}

.logotipo {
    max-height: 100px;
    max-width: 180px;
}

.header-badge {
    position: relative;
    top: -45px;
    right: -22px;
    font-size: 0.7em;
    background: var(--primary);
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
}

@media screen and (max-width: 855px) {
    .user-info {
        //display: none;
    }
    .button-header {
        font-size: 20px;
    }
}

@media screen and (max-width: 425px) {
    .user-info {
        //display: none;
    }
    .button-header {
        font-size: 20px;
    }
    .header-logo-container {
        max-width: 250px;
    }

    .header-buttons-container {
        margin:5px
    }
}
