<link href="https://pruebasassets.portaloas.udistrital.edu.co/isotipo-header.css" rel="stylesheet">
<link href="https://pruebasassets.portaloas.udistrital.edu.co/logo-header.css" rel="stylesheet">
<div class="header-container">
    <div class="header-logo-container" (click)="sidebarEvent()">
        <div id="{{appname}}-isotipo" class="isotipo" [ngStyle]="{'display': sidebarClases.containerLogoClase}"></div>
        <div id="{{appname}}-header" class="logo-header"
            [ngStyle]="{'display': sidebarClases.containerLogoCollapsedClase}"> </div>
    </div>
    <div class="header-buttons-container">
        <div class="header-button-apps-container" (click)="toogleAplicaciones()">
            <span class="material-icons"> apps </span>
        </div>
        <div class="header-button-notification" (click)="togglenotify()">
            <span class="material-icons">notifications</span>
        </div>
        <div class="header-button-user-container" (click)="toogleCerrarSesion()">
            <span class="material-icons">
                account_circle
            </span>
            <p class="user-info">Usuario de prueba</p>
            <div id="header-button-cerrarsesion-container" (click)='logout()'>
                <p>cerrar sesion</p>
            </div>
        </div>
    </div>
</div>
<ng-uui-notioas></ng-uui-notioas>
<ng-uui-menu-aplicaciones></ng-uui-menu-aplicaciones>