@import url("https://pruebasassets.portaloas.udistrital.edu.co/font-style.css");

p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
}
.header-logo {
    display: none;
    border: none;
    box-shadow: none;
    background: url(https://pruebasassets.portaloas.udistrital.edu.co/isotipos-75x75.png);
    margin: 10px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.menu-app-info {
    border: none;
}

i {
    color: var(--primary);
}

.header-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 3;
    background-color: white;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
    padding-left: 10px;
    box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
    position: fixed;
    top: 0;
    left: 0;
}

.header-logo-container {
    padding: 5px 0 5px 0;
    display: flex;
    align-items: center;
}

.header-buttons-container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 20px;
}

.header-button-notification,
.header-button-apps-container,
.header-button-user-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--primary);
}

.header-button-user-container > p {
    margin: 8px;
    color: var(--primary);
}

.header-button-cerrarsesion-container > p {
    color: var(--primary);
}

#header-button-cerrarsesion-container {
    position: absolute;
    top: 60px;
    right: 10px;
    z-index: 10;
    display: none;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.84);
    width: 118px;
    height: 23px;
    text-align: center;
}

#header-user-icon {
    font-size: 25px;
    width: 36px;
}

.header-badge {
    position: relative;
    top: -45px;
    right: -22px;
    font-size: 0.7em;
    background: var(--primary);
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
}

@media screen and (max-width: 855px) {
    .user-info {
        display: none;
    }
    .button-header {
        font-size: 20px;
    }

    .header-button-user-container {
        width: 70px;
    }

    .header-logo-container {
        display: flex;
        align-items: left;
        justify-content: left;
    }
}

@media screen and (max-width: 425px) {
    .user-info {
        display: none;
    }
    .button-header {
        font-size: 20px;
    }

    .header-buttons-container {
        width: 70%;
    }
}
