<div class="footer-div">
  <figure class="imageContainer">
    <img src="{{basePathAssets + 'logotipos_aplicativos_svg/ud.svg'}}" class="card-image" alt="logo-udistrital">
  </figure>
  <div class="footer-column">
    <div class="footer-title">
      <h5>Oficina Asesora de Sistemas</h5>
    </div>
  </div>

  <div class="footer-logos">
    <div class="social" *ngFor="let lista of social.list">
      <a href="{{lista.link}}">
        <span class="material-icons">
          {{lista.class}}
        </span>
      </a>
      <div class="text-container">
        <p *ngFor="let value of lista.value">
          {{ value }}
        </p>
      </div>
    </div>
  </div>
</div>