.footer-div{
    background-color: #2B3643;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top:1%;
    box-shadow: 2px -2px 11px #888888;
    position: fixed;
    bottom: 0;
    left: 0;
}

.card-imageContainer{
    object-fit: cover;
    margin: 0;
    border-right: .1rem solid white;
    align-self: center;
}
.text-container{
    align-self: center;
}
.card-image{
    width:230px;
}

.footer-column{
    color:white;
    width: 10%;
    margin-top:1%;
    align-self: center;
    margin-right: 3%;
}

.footer-title{
    text-align: center;
}
h3,h5{
    font-family: OpenSans !important;
    margin-bottom: .5rem;
    font-size: 1rem;
    font-family: Exo;
    margin-top:0;
    color:white;
}

.footer-logos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width:65%;
}
.social{
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    color:white;
    justify-content: center;
    width:18%;
    align-self: center;
}
.icon-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.icon{
    font-size:32px;
    align-self: center;
    margin-right: 10px;

}
p{
    font-size:13px;
    text-align: center;
    margin: 0;
    font-family: OpenSans;
}

@media screen and (max-width: 1132px){
    .social{
        width:20%;
    }
    p{
        font-size:13px;
    }
    .footer-column{
        margin-right:0;
    }

}

@media screen and (max-width: 930px){
    .social{
        width:30%;
    }
    .footer-logos{
        width:50%;
    }
}

@media screen and (max-width: 768px){
    .social{
        width:40%;
    }
}

@media screen and (max-width: 620px){
    .social{
        width:40%;
    }
    .footer-logos{
        width:100%;
    }
    .footer-column{
        width:30%;
    }
}

@media screen and (max-width: 330px){
    .card-image{
        width: 200px;
    }
    h5{
        font-size:15px;
    }
}