<div id="menu" [ngClass]="{'aplicaciones_menu_container': true, 'menu_is_active': activo }">
    <div class="title-notifications">
        <p>Notificaciones</p>
    </div>
    <div class="notifications-container">
        <div *ngIf="loading; else loadedContent" class="loading-indicator">
            <ng-uui-load></ng-uui-load> 
        </div>
        <ng-template #loadedContent>
            <div *ngFor="let notificacion of notificaciones" (click)="redirect(notificacion)" class="notification-item">
                <div class="notifications-text-container">
                    <p>{{notificacion.Message}}</p>
                </div>
                <div *ngIf="notificacion.Estado == 'noLeida'" class="notification-badge"></div>
            </div>
        </ng-template>
    </div>
</div>