@import url("https://pruebasassets.portaloas.udistrital.edu.co/logo-stylus.css");

.aplicaciones_menu_container p {
    margin-bottom: 11px;
    margin-top: 0;
}

.title-notifications {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
}

.menu-app {
    border-color: #34495e;
    border-radius: 7px;
    border: solid 1px;
    box-shadow: 0px 0px 8px #888888;
}

#noleida,
#enviada,
#ENVIADA {
    background-color: rgba(43, 54, 67, 0.1);
}

.notification-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.notifications-image-container {
    width: 25%;
}

.notifications-text-container {
    width: 68%;
    margin-left: 5px;
}

.notifications-text-container p {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: black;
    white-space: normal;
    font-size: 15px;
}

.form-control {
    margin: 0px 23px;
    font-family: "Open Sans", sans-serif;
    width: 86%;
}

.aplicaciones_menu_container {
    background: #fff;
    border: 1px solid #d6dae1;
    border-color: rgba(0, 0, 0, 0.2);
    color: #000;
    -webkit-box-shadow: 0 2px 10px rgba(48, 90, 208, 0.2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    right: 80px;
    top: 77px;
    -webkit-border-radius: 2px;
    right: -100vw;
    border-radius: 2px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 720px;
    width: 320px;
    transition: 0.3s;
    padding-top: 10px;
    z-index: 1;
}
.menu_is_active {
    right: 0;
}
