.sidebar-container {
    background: var(--primary);
    border: 1px solid #d6dae1;
    color: #000;
    -webkit-box-shadow: 0 2px 10px rgba(48, 90, 208, 0.2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 93px;
    -webkit-border-radius: 2px;
    left: -0.04vw;
    border-radius: 2px;
    height: calc(-181px + 100vh);
    width: auto;
    padding-top: 10px;
    z-index: 1;
    display: flex;
    overflow-y: scroll;
    flex-wrap: nowrap;
}

.sidebar-container::-webkit-scrollbar-track {
    background: var(--primary);
}
.sidebar-container::-webkit-scrollbar-thumb {
    background-color: var(--color-100) ;
    border-radius: 6px;
    border: 3px solid var(--primary);
}

.sidebar-container {
    scrollbar-width: thin;
    scrollbar-color: var(primary) var(color-100);
}

/* Works on Chrome, Edge, and Safari */
.sidebar-container::-webkit-scrollbar {
    width: 12px;
}

.sidebar-container::-webkit-scrollbar-track {
    background: var(color-100);
}

.sidebar-container::-webkit-scrollbar-thumb {
    background-color: var(primary);
    border-radius: 20px;
    border: 3px solid var(color-100);
}

@media screen and (max-width: 425px) {
    .sidebar-container {
        width: 100%;
    }
}